$color-dark-violet: hsl(256, 26%, 20%);
$color-grayish-blue: hsl(216, 30%, 68%);
$color-very-dark-violet: hsl(270, 9%, 17%);
$color-dark-grayish-violet: hsl(273, 4%, 51%);
$color-very-light-gray: hsl(0, 0%, 98%);
$color-white: white;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Karla, sans-serif;
}

body {
    background: $color-white;
    overflow-x: hidden;

    &:before {
        content: url(../assets/bg-pattern-intro-right-desktop.svg);
        position: absolute;
        top: 0;
        right: 0;        
        z-index: 3;
    }

    &:after {
        content: url(../assets/bg-pattern-intro-left-desktop.svg);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
   all: unset;
   cursor: pointer;
}

li {
    list-style: none;
}