.btn {
    border: 2px solid $color-very-light-gray;
    padding: 1rem 2.2rem;
    text-transform: uppercase;    
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-very-light-gray;
    letter-spacing: .1rem;    
    z-index: 99;

    &:hover {
        background-color: $color-very-light-gray;
        color: $color-dark-violet !important;
    }
}

.btn-emphasis {
    border: 2px solid $color-dark-violet;
    color: $color-dark-violet;

    &:hover {
        background-color: $color-dark-violet;
        color: $color-very-light-gray !important;
    }
}

.section-first {
    background: $color-dark-violet;

    &__info {    
        max-width: 50%;  

        &:before {
            content: url(../assets/bg-pattern-intro-right-desktop.svg);
            position: absolute;
            top: 0;
            right: 0;
        }
    
        &:after {
            content: url(../assets/bg-pattern-intro-left-desktop.svg);
            position: absolute;
            bottom: -115px;
            left: 0;
        }
    }

    &__img {
        max-width: 540px;

        img {
            width: 100%;
        }
    }


    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 4rem;
        padding: 10rem 0;
        height: 595px;   
        z-index: 2;
    }

    &__divider {
        width: 25%;
        background-color: $color-very-light-gray;
    }

    &__title {
        margin-top: 4rem;
        width: 90%;
        font-size: 7rem;
        font-family: DM Serif Display, sans-serif;
        font-weight: 400;
        color: $color-very-light-gray;
        line-height: 6rem;
    }

    &__paragraph {
        margin: 4rem 0;
        font-size: 1.6rem;
        color: $color-very-light-gray;
        line-height: 2.5rem;
    }

    @media screen and (max-width: $break-mobile) {

        &__info {      
            max-width: inherit;
            padding: 0 2.5rem;
            position: relative;  

            &:before {
                content: url(../assets/bg-pattern-intro-right-mobile.svg);
                position: absolute;
                top: auto;
                bottom: -180px;
                right: 0;
            }
        
            &:after {
                content: url(../assets/bg-pattern-intro-left-mobile.svg);
                position: absolute;
                top: -3px;
                bottom: auto;
                left: 0;
            }
        }

        .container {
            width: 100%;
            flex-direction: column;       
            align-items: center;
            gap: 0;
            padding: 0;
            height: auto;   

            div:last-child {
                padding: 0% 2.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        &__divider {
            display: none;
        }

        &__title {
            margin-top: 8rem;
            width: 100%;
            font-size: 4.2rem;
            text-align: center;
            line-height: 4rem;
            z-index: 5;
        }

        &__paragraph {
            margin: 2rem 0 3rem;
            font-size: 1.6rem;
            text-align: center;
        }   

        &__img {
            padding: ;
            img {
                width: 100%;
            }
        }

        .btn {
            display: flex;
            align-self: center;
            margin-bottom: 8rem;
        }
    }
}

.section-second {
    margin-top: 25rem;

    &__divider {
        width: 12rem;
        background-color: $color-dark-grayish-violet;
    }

    &__title {
        margin-top: 4rem;
        font-size: 6rem;
        font-family: DM Serif Display, sans-serif;
        font-weight: 400;
    }

    &__benefits {
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 34rem;

        img {
            width: 8rem;
        }

        h3 {
            margin-top: 2rem;
            font-size: 2.4rem;
            font-family: DM Serif Display, sans-serif;
            font-weight: 400;
        }

        p {
            margin-top: 1.5rem;
            font-size: 1.6rem;
            color: $color-dark-grayish-violet;
            line-height: 2.5rem;
        }
    }

    @media screen and (max-width: $break-mobile) {
        margin-top: 15rem;

        &__divider {
            margin: 0 auto;
        }

        &__title {
            margin-top: 3rem;
            font-size: 4rem;
            text-align: center;
        }

        &__benefits {
            margin-top: 6rem;
            flex-direction: column;
            text-align: center;
            gap: 5rem;
        }
    }
}

.section-third {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12rem;
    background: url(../assets/bg-pattern-how-we-work-desktop.svg) no-repeat right center $color-dark-violet;
    padding: 6rem 8rem;

    h2 {
        width: 50%;
        font-size: 5.5rem;
        font-family: DM Serif Display, sans-serif;
        font-weight: 400;
        color: $color-very-light-gray;
        line-height: 6rem;
    }

    @media screen and (max-width: $break-mobile) {  
        flex-direction: column;      
        padding: 8rem 3rem;
        text-align: center;
        background: url(../assets/bg-pattern-how-we-work-mobile.svg) no-repeat right top $color-dark-violet;

        h2 {
            width: 100%;
            font-size: 4rem;
            line-height: 4rem;
            margin-bottom: 3.5rem;
        }
    }
}