.btn {
    border: 2px solid $color-very-light-gray;
    padding: 1rem 2.2rem;
    text-transform: uppercase;    
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-very-light-gray;
    letter-spacing: .1rem;    
    z-index: 99;

    &:hover {
        background-color: $color-very-light-gray;
        color: $color-dark-violet !important;
    }
}

.btn-emphasis {
    border: 2px solid $color-dark-violet;
    color: $color-dark-violet;

    &:hover {
        background-color: $color-dark-violet;
        color: $color-very-light-gray !important;
    }
}

.section-first {
    background: $color-dark-violet;

    .container {
        display: flex;
        gap: 5rem;
        padding: 10rem 0;
        height: 595px;    
        position: relative;    
        z-index: 2;
    }

    &__divider {
        width: 25%;
        background-color: $color-very-light-gray;
    }

    &__title {
        margin-top: 4rem;
        width: 90%;
        font-size: 7rem;
        font-family: DM Serif Display, sans-serif;
        font-weight: 400;
        color: $color-very-light-gray;
        line-height: 6rem;
    }

    &__paragraph {
        margin: 4rem 0;
        font-size: 1.6rem;
        color: $color-very-light-gray;
        line-height: 2.5rem;
    }
}

.section-second {
    margin-top: 25rem;

    &__divider {
        width: 12rem;
        background-color: $color-dark-grayish-violet;
    }

    &__title {
        margin-top: 4rem;
        font-size: 6rem;
        font-family: DM Serif Display, sans-serif;
        font-weight: 400;
    }

    &__benefits {
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 34rem;

        img {
            width: 8rem;
        }

        h3 {
            margin-top: 2rem;
            font-size: 2.4rem;
            font-family: DM Serif Display, sans-serif;
            font-weight: 400;
        }

        p {
            margin-top: 1.5rem;
            font-size: 1.6rem;
            color: $color-dark-grayish-violet;
            line-height: 2.5rem;
        }
    }
}

.section-third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12rem;
    background: url(../assets/bg-pattern-how-we-work-desktop.svg) no-repeat right center $color-dark-violet;
    padding: 6rem 8rem;

    h2 {
        width: 50%;
        font-size: 5.5rem;
        font-family: DM Serif Display, sans-serif;
        font-weight: 400;
        color: $color-very-light-gray;
        line-height: 6rem;
    }
}