.footer {
    position: relative;
    margin-top: 10rem;
    padding: 6rem 0;
    background: url(../assets/bg-pattern-footer-desktop.svg) no-repeat left top $color-very-light-gray;

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3.3rem;
        border-bottom: 1px solid $color-dark-grayish-violet;        
    }

    .social-media {
        a:nth-of-type(1n+1) {
            margin-left: 1.2rem;            
        }

        a:hover {           
            svg path {
                fill: $color-dark-violet;
            } 
        }        
    }

    &__links {
        max-width: 80%;
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
    }

    &__link-group {
        h4 {
            font-size: 1.4rem;
            text-transform: uppercase;
            color: $color-dark-grayish-violet;
        }

        nav {
            margin-top: 3.5rem;
        }

        li {
            margin-top: 2rem;
            font-size: 1.4rem;
            text-transform: uppercase;
            color: $color-very-dark-violet;
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .attribution {
        margin-top: 8rem;
    }

    @media screen and (max-width: $break-mobile) {  
        padding: 8.8rem 0 .5rem;
        text-align: center;
        background: url(../assets/bg-pattern-footer-mobile.svg) no-repeat left top $color-very-light-gray;
        
        &__top {
            flex-direction: column;
            gap: 3rem;
        }

        &__links {
            max-width: 100%;
            flex-direction: column;
            gap: 5rem;
        }
    }
}