.header {
    background-color: $color-very-light-gray;
    padding: 3rem 0;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    position: sticky;    
    z-index: 6;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        gap: 3rem;
        text-transform: uppercase;
        color: $color-dark-grayish-violet;
        font-weight: 700;   
        
        a:hover {
            color: $color-dark-violet;
        }
    }

    &__menu-hamburguer {
        display: none;
    }

    @media screen and (max-width: $break-mobile) {

        &__menu {
            display: block;
            position: absolute;
            top: 93px;
            left: 0;
            width: 100%;
            height: calc(100vh - 90px);
            background: url(../assets/bg-pattern-mobile-nav.svg) no-repeat bottom left $color-very-dark-violet;
            color: $color-white;
            text-align: center;
            padding: 18px;

            li {
                font-size: 1.8rem;
                margin-top: 4rem;
            }

            .btn-emphasis {                
                display: inline-block;
                width: 100%;
                font-size: 1.8rem;
                color: $color-white;                
                border: 2px solid $color-white;
            }
        }

        &__menu-hamburguer {
            display: block;
        }

    }
}