.header {
    background-color: $color-very-light-gray;
    padding: 3rem 0;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    position: sticky;    
    z-index: 3;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        gap: 3rem;
        text-transform: uppercase;
        color: $color-dark-grayish-violet;
        font-weight: 700;   
        
        a:hover {
            color: $color-dark-violet;
        }
    }
}