* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Karla, sans-serif;
}

body {
  background: white;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}

a {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

.header {
  background-color: #fafafa;
  padding: 3rem 0;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 4;
  width: 100%;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
  color: #837d87;
  font-weight: 700;
}

.header__menu a:hover {
  color: #2d2640;
}

.header__menu-hamburguer {
  display: none;
}

@media screen and (max-width: 600px) {
  .header__menu {
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: calc(100vh - 123px);
    background: url(../assets/bg-pattern-mobile-nav.svg) no-repeat bottom left #2b272f;
    color: white;
    text-align: center;
    padding: 18px;
  }
  .header__menu li {
    font-size: 1.8rem;
    margin-top: 4rem;
  }
  .header__menu .btn-emphasis {
    display: inline-block;
    width: 100%;
    font-size: 1.8rem;
    color: white;
    border: 2px solid white;
  }
  .header__menu-hamburguer {
    display: block;
  }
}

.btn {
  border: 2px solid #fafafa;
  padding: 1rem 2.2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: .1rem;
  z-index: 99;
}

.btn:hover {
  background-color: #fafafa;
  color: #2d2640 !important;
}

.btn-emphasis {
  border: 2px solid #2d2640;
  color: #2d2640;
}

.btn-emphasis:hover {
  background-color: #2d2640;
  color: #fafafa !important;
}

.section-first {
  background: #2d2640;
}

.section-first__info:before {
  content: url(../assets/bg-pattern-intro-right-desktop.svg);
  position: absolute;
  top: 0;
  right: 0;
}

.section-first__info:after {
  content: url(../assets/bg-pattern-intro-left-desktop.svg);
  position: absolute;
  bottom: -115px;
  left: 0;
}

.section-first .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  padding: 10rem 0;
  height: 595px;
  z-index: 2;
}

.section-first__divider {
  width: 25%;
  background-color: #fafafa;
}

.section-first__title {
  margin-top: 4rem;
  width: 90%;
  font-size: 7rem;
  font-family: DM Serif Display, sans-serif;
  font-weight: 400;
  color: #fafafa;
  line-height: 6rem;
}

.section-first__paragraph {
  margin: 4rem 0;
  font-size: 1.6rem;
  color: #fafafa;
  line-height: 2.5rem;
}

@media screen and (max-width: 600px) {
  .section-first__info {
    position: relative;
  }
  .section-first__info:before {
    content: url(../assets/bg-pattern-intro-right-mobile.svg);
    position: absolute;
    top: auto;
    bottom: -180px;
    right: 0;
  }
  .section-first__info:after {
    content: url(../assets/bg-pattern-intro-left-mobile.svg);
    position: absolute;
    top: -3px;
    bottom: auto;
    left: 0;
  }
  .section-first .container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
    padding: 0;
    height: auto;
  }
  .section-first .container div:first-child {
    padding: 0% 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-first__divider {
    display: none;
  }
  .section-first__title {
    margin-top: 8rem;
    width: 100%;
    font-size: 4.2rem;
    text-align: center;
    line-height: 4rem;
    z-index: 5;
  }
  .section-first__paragraph {
    margin: 2rem 0 3rem;
    font-size: 1.6rem;
    text-align: center;
  }
  .section-first__img {
    width: 100%;
  }
  .section-first__img img {
    width: 100%;
  }
  .section-first .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 8rem;
  }
}

.section-second {
  margin-top: 25rem;
}

.section-second__divider {
  width: 12rem;
  background-color: #837d87;
}

.section-second__title {
  margin-top: 4rem;
  font-size: 6rem;
  font-family: DM Serif Display, sans-serif;
  font-weight: 400;
}

.section-second__benefits {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-second__item {
  max-width: 34rem;
}

.section-second__item img {
  width: 8rem;
}

.section-second__item h3 {
  margin-top: 2rem;
  font-size: 2.4rem;
  font-family: DM Serif Display, sans-serif;
  font-weight: 400;
}

.section-second__item p {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  color: #837d87;
  line-height: 2.5rem;
}

@media screen and (max-width: 600px) {
  .section-second {
    margin-top: 15rem;
  }
  .section-second__divider {
    margin: 0 auto;
  }
  .section-second__title {
    margin-top: 3rem;
    font-size: 4rem;
    text-align: center;
  }
  .section-second__benefits {
    margin-top: 6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 5rem;
  }
}

.section-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12rem;
  background: url(../assets/bg-pattern-how-we-work-desktop.svg) no-repeat right center #2d2640;
  padding: 6rem 8rem;
}

.section-third h2 {
  width: 50%;
  font-size: 5.5rem;
  font-family: DM Serif Display, sans-serif;
  font-weight: 400;
  color: #fafafa;
  line-height: 6rem;
}

@media screen and (max-width: 600px) {
  .section-third {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8rem 3rem;
    text-align: center;
    background: url(../assets/bg-pattern-how-we-work-mobile.svg) no-repeat right top #2d2640;
  }
  .section-third h2 {
    width: 100%;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 3.5rem;
  }
}

.footer {
  position: relative;
  margin-top: 10rem;
  padding: 6rem 0;
  background: url(../assets/bg-pattern-footer-desktop.svg) no-repeat left top #fafafa;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3.3rem;
  border-bottom: 1px solid #837d87;
}

.footer .social-media a:nth-of-type(1n+1) {
  margin-left: 1.2rem;
}

.footer .social-media a:hover svg path {
  fill: #2d2640;
}

.footer__links {
  max-width: 80%;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link-group h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #837d87;
}

.footer__link-group nav {
  margin-top: 3.5rem;
}

.footer__link-group li {
  margin-top: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #2b272f;
  font-weight: 700;
}

.footer__link-group li:hover {
  text-decoration: underline;
}

.footer .attribution {
  position: absolute;
  bottom: 5px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 8.8rem 0;
    text-align: center;
    background: url(../assets/bg-pattern-footer-mobile.svg) no-repeat left top #fafafa;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  .footer__links {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
  }
}
/*# sourceMappingURL=main.css.map */