* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Karla, sans-serif;
}

body {
  background: white;
  overflow-x: hidden;
}

body:before {
  content: url(../assets/bg-pattern-intro-right-desktop.svg);
  position: absolute;
  top: 0;
  right: 0;
}

body:after {
  content: url(../assets/bg-pattern-intro-left-desktop.svg);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

.header {
  background-color: #fafafa;
  padding: 3rem 0;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  position: -webkit-sticky;
  position: sticky;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
  color: #837d87;
  font-weight: 700;
}

.header__menu a:hover {
  color: #2d2640;
}

.btn {
  border: 2px solid #fafafa;
  padding: 1rem 2.2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: .1rem;
  z-index: 99;
}

.btn:hover {
  background-color: #fafafa;
  color: #2d2640 !important;
}

.btn-emphasis {
  border: 2px solid #2d2640;
  color: #2d2640;
}

.btn-emphasis:hover {
  background-color: #2d2640;
  color: #fafafa !important;
}

.section-first {
  background: #2d2640;
}

.section-first .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  padding: 10rem 0;
  height: 595px;
  position: relative;
  z-index: 2;
}

.section-first__divider {
  width: 25%;
  background-color: #fafafa;
}

.section-first__title {
  margin-top: 4rem;
  width: 90%;
  font-size: 7rem;
  font-family: DM Serif Display, sans-serif;
  font-weight: 400;
  color: #fafafa;
  line-height: 6rem;
}

.section-first__paragraph {
  margin: 4rem 0;
  font-size: 1.6rem;
  color: #fafafa;
  line-height: 2.5rem;
}

.section-second {
  margin-top: 25rem;
}

.section-second__divider {
  width: 12rem;
  background-color: #837d87;
}

.section-second__title {
  margin-top: 4rem;
  font-size: 6rem;
  font-family: DM Serif Display, sans-serif;
  font-weight: 400;
}

.section-second__benefits {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-second__item {
  max-width: 34rem;
}

.section-second__item img {
  width: 8rem;
}

.section-second__item h3 {
  margin-top: 2rem;
  font-size: 2.4rem;
  font-family: DM Serif Display, sans-serif;
  font-weight: 400;
}

.section-second__item p {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  color: #837d87;
  line-height: 2.5rem;
}

.section-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12rem;
  background: url(../assets/bg-pattern-how-we-work-desktop.svg) no-repeat right center #2d2640;
  padding: 6rem 8rem;
}

.section-third h2 {
  width: 50%;
  font-size: 5.5rem;
  font-family: DM Serif Display, sans-serif;
  font-weight: 400;
  color: #fafafa;
  line-height: 6rem;
}

.footer {
  margin-top: 10rem;
  padding: 6rem 0;
  background: url(../assets/bg-pattern-footer-desktop.svg) no-repeat left top #fafafa;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3.3rem;
  border-bottom: 1px solid #95a9c6;
}

.footer .social-media a:nth-of-type(1n+1) {
  margin-left: 1rem;
}

.footer .social-media a:hover svg path {
  fill: #2d2640;
}

.footer__links {
  max-width: 80%;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link-group h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #837d87;
}

.footer__link-group nav {
  margin-top: 3.5rem;
}

.footer__link-group li {
  margin-top: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #2b272f;
  font-weight: 700;
}

.footer__link-group li:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */